<p class="lead mb-3"> <%= name %> </p>
<div class="list-group"></div>
    <% for(var i=0;i<list.length;i++) { %>
        <a href="../assets/songs/list[i]" class="list-group-item"> <%= list[i]%> </a>
      <%  } %>
    </div>